[Desktop Entry]
Type=Application
Exec= sudo python3 /home/pi/Documents/tram/V2/_V2/liveTram.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true